.bg-gradient-image {
    background: linear-gradient(to right,
    rgba(var(--bs-body-bg-rgb), 1) 35%,
    rgba(var(--bs-body-bg-rgb), 0) 80%
    ),
    var(--login-bg-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

