# Git
.git
.gitignore

# Docker
.docker

# Pycharm
.idea/

# Python
myerpcompanion/__pycache__/
myerpcompanion/*/__pycache__/
myerpcompanion/*/*/__pycache__/
myerpcompanion/*/*/*/__pycache__/
.env/
.venv/
venv/