fastapi>=0.115,<0.116
uvicorn>=0.34,<0.35
sqlalchemy>=2.0,<2.1
asyncpg>=0.30,<0.31
passlib[argon2]>=1.7,<1.8
python-dotenv>=1.0,<1.1
alembic>=1.15,<1.16
python-jose[cryptography]>=3.4,<3.5
pydantic>=2.10,<2.11
pydantic-settings>=2.8,<2.9
black>=25.1.0,<25.2
isort>=6.0.1,<6.1
pyright>=1.1,<1.2