{% extends "base/template_base.html" %}

{% block title_block %}{{ page.labels.my_erp_companion.value }}{% endblock %}

{% block theme_block %}{{ page.theme }}{% endblock %}

{% block body_block %}
    <style>
        .bg-gradient-image {
            --login-bg-img: url('{{ page.images.login_bg_img.value }}');
        }
    </style>

    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="bg-gradient-image rounded-4 d-flex align-items-center justify-content-start w-50 h-50 p-4">
            <div class="text-start w-50">
                <h2 class="mb-5">{{ page.labels.login.value }}</h2>
                <form method="post" class="needs-validation">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="login" class="form-label">{{ page.labels.login.value }}:</label>
                        <input type="text" id="login" name="login" class="form-control w-50" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">{{ page.labels.password.value }}:</label>
                        <input type="password" id="password" name="password" class="form-control w-50" required>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
