{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>

{% include "./header.html" %}

<div class="content-wrapper">
    <div class="side-menu">
        {% include "./side_menu.html" %}
    </div>
    <div class="main-content">
        {% block page_body %}
        {% endblock %}
    </div>
</div>

{% include "./footer.html" %}

</body>
</html>